.form {
  display: flex;
  border: 3px solid #d6d6d6;
  margin: 15px;
  padding: 10px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 15px;
  flex-wrap: wrap;
  height: 370px;
  font-weight: bold;
}

.option {
  text-align: center;
  width: 30px;
  width: 30px;
  flex-grow: 1;
  border: 3px solid #d6d6d6;
  padding: 15px;
  margin: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
}

.option:hover {
  background: #d6d6d6;
}
