.form {
  display: flex;
  border: 2px solid #930989;
  margin: 15px;
  padding: 10px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 15px;
  flex-wrap: wrap;
  height: 370px;
  font-weight: bold;
}

.option {
  text-align: center;
  width: 30px;
  width: 30px;
  flex-grow: 1;
  border: 2px solid #930989;
  padding: 15px;
  margin: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
  color: #930989 !important;
}

.option:hover {
  color: #fff !important;
  background-color: rgba(147, 9, 137, 0.85);
}
